---
import Layout from '../layouts/Layout.astro';

export const reports = [
  {
    title: 'Rotating 100 Boxes',
  },
  {
    title: 'Light-up Fan',
  },
  {
    title: 'Hello, Quaternion',
  },
  {
    title: 'Spherical Gallery',
  },
];
---

<Layout>
  <h1
    class="border-y border-neutral-800 pb-[0.15em] pt-[0.1em] text-[9vw]/[0.8] -tracking-[0.05em] text-neutral-500 lg:text-[7vw]"
  >
    <a href="/">WebGL School Reports</a>
  </h1>
  <ul
    class="text-[9vw]/none -tracking-[0.05em] text-neutral-500 *:overflow-clip *:border-b *:border-neutral-800 *:hover:bg-neutral-900 lg:text-[7vw]"
  >
    {
      reports.map((report, i) => {
        const paddedNumber = (i + 1).toString().padStart(2, '0');
        return (
          <li>
            <a
              class="flex gap-[0.2em] hover:text-neutral-500"
              href={`/${paddedNumber}`}
            >
              <span class="flex gap-[0.1em]">
                <span class="font-thin text-neutral-500">#</span>
                <span class="tabular-nums -tracking-wider">{paddedNumber}</span>
              </span>
              <span class="text-neutral-700">{report.title}</span>
            </a>
          </li>
        );
      })
    }
    <li>
      <a
        class="flex justify-end gap-[0.1em] hover:text-neutral-500"
        href="https://github.com/osgsm/webgl-school-report/"
        target="_blank"
      >
        GitHub<span class="pr-[0.1em] font-thin text-neutral-500">↗</span>
      </a>
    </li>
  </ul>
</Layout>
