---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1
    class="border-y border-neutral-800 pb-[0.15em] pt-[0.1em] text-[10vw]/[0.8] -tracking-wider text-neutral-700"
  >
    <a href="/">WebGL School Report</a>
  </h1>
  <ul class="text-[10vw]/none tabular-nums -tracking-[0.05em]">
    {
      Array.from({ length: 1 }, (_, i) => {
        const paddedNumber = (i + 1).toString().padStart(2, '0');
        return (
          <li class="border-b border-neutral-800 text-neutral-700 hover:bg-neutral-900">
            <a
              class="flex gap-[0.1em] hover:text-neutral-500"
              href={`/${paddedNumber}`}
            >
              <span class="font-thin text-neutral-800">#</span>
              <span>{paddedNumber}</span>
            </a>
          </li>
        );
      })
    }
    <li
      class="border-b border-neutral-800 text-neutral-700 hover:bg-neutral-900"
    >
      <a
        class="flex justify-end gap-[0.1em] hover:text-neutral-500"
        href="https://github.com/osgsm/webgl-school-report/"
        target="_blank"
      >
        GitHub<span class="pr-[0.1em] font-thin text-neutral-700">↗</span>
      </a>
    </li>
  </ul>
</Layout>
