---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>WebGL School Report</title>
  </head>
  <body class="overflow-hidden bg-neutral-950">
    <slot />
    {
      Astro.url.pathname !== '/' && (
        <div class="fixed bottom-1.5 left-1.5 top-auto text-sm text-neutral-100 mix-blend-difference md:bottom-auto md:top-1.5">
          <ul>
            <li>
              <a
                href="/"
                class="inline-block p-1 leading-none opacity-75 hover:opacity-100"
              >
                Home
              </a>
            </li>
            {Array.from({ length: 1 }, (_, i) => {
              const paddedNumber = (i + 1).toString().padStart(2, '0');
              return (
                <li>
                  <a
                    href={`/${paddedNumber}`}
                    class="inline-block p-1 leading-none opacity-75 hover:opacity-100"
                  >
                    #{paddedNumber}
                  </a>
                </li>
              );
            })}
            <li>
              <a
                class="inline-block p-1 leading-none opacity-75 hover:opacity-100"
                href={`https://github.com/osgsm/webgl-school-report/tree/main/src/pages${Astro.url.pathname}`}
                target="_blank"
              >
                GitHub↗
              </a>
            </li>
          </ul>
        </div>
      )
    }
  </body>
</html>
