---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>WebGL School Report</title>
  </head>
  <body class="bg-neutral-950">
    <slot />
    {
      Astro.url.pathname !== '/' && (
        <div class="fixed bottom-0 left-0 text-sm text-neutral-100 opacity-75 mix-blend-difference">
          <ul>
            <li>
              <a href="/" class="inline-block p-1 leading-none">
                Home
              </a>
            </li>
            {Array.from({ length: 1 }, (_, i) => {
              const paddedNumber = (i + 1).toString().padStart(2, '0');
              return (
                <li>
                  <a
                    href={`/${paddedNumber}`}
                    class="inline-block p-1 leading-none"
                  >
                    #{paddedNumber}
                  </a>
                </li>
              );
            })}
          </ul>
        </div>
      )
    }
  </body>
</html>
